<!-- Services Section -->
<section id="services" class="bg-light-brown">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Coup d'œil sur le programme</h2>
            
                <h3 class="section-subheading text-primary">Nos actions et nos projets pour la commune d'Ingwiller</h3>
            </div>
               
            <div class="col-lg-12 bg-light-gray" id="editorial" >
               <p>Notre équipe s'engage avec vous pour inscrire les six prochaines années dans une démarche démocratique, écologique et réaliste. Toutes les décisions seront prises dans l'intérêt général pour mettre en œuvre un développement durable dans notre commune.</p>

               <p>Ces dernières années des avancées ont été faites dans plusieurs domaines comme les services à la petite enfance ou aux seniors, la programmation culturelle... Ces avancées doivent être poursuivies et amplifiées.</p>

               <p>Mais depuis plus de cinq ans, nous avons aussi assisté à ce que nous ne voulons plus pour Ingwiller : des dépenses excessives au service du paraître, des décisions partisanes, la critique régulière de l'intercommunalité, l'abandon de certains secteurs du service public communal.</p>
            </div>
            </div>
      
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/themes/democratie.jpg" class="img-responsive img-circle" alt="Promouvoir la démocratie">
                <h4 class="service-heading text-primary">Faire vivre la démocratie</h4>
                <p class="text-muted">
                    Ouvrir les commissions aux habitants intéressés et à des personnes compétentes, pour trouver ensemble les solutions les plus intéressantes et cohérentes, sans préjugé partisan.
                </p>
            </div>

            <div class="col-md-4">
                <img src="img/themes/euros.jpg" class="img-responsive img-circle" alt="Maîtriser les dépenses">
                <h4 class="service-heading text-primary">Maîtriser les dépenses</h4>
                <p class="text-muted">
                    Proposer des projets ambitieux, aux coûts réfléchis et à échelle humaine. Veiller à ce que les générations futures puissent en faire de même.
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/themes/apiculture.jpg" class="img-responsive img-circle" alt="Respecter l'environnement">
                <h4 class="service-heading text-primary">Respecter l'environnement</h4>
                <p class="text-muted">
                    Mettre en cohérence les efforts de tous les habitants, agir au niveau communal et donner l’impulsion à toute l’intercommunalité.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/themes/service-public.jpg" class="img-responsive img-circle" alt="Défendre les services public">
                <h4 class="service-heading text-primary">Défendre les services publics</h4>
                <p class="text-muted">
                    Accorder notre confiance aux équipes techniques et administratives, reconnaitre leurs compétences et les engager aux services de tous les habitants.   
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/themes/education01.jpg" class="img-responsive img-circle" alt="Relever les défis de notre temps">
                <h4 class="service-heading text-primary">Soutenir l'éducation et la culture</h4>
                <p class="text-muted">
                    Offrir à nos enfants de bonnes conditions d’apprentissage, tisser des liens associatifs et culturels vers nos écoles, promouvoir une vie culturelle ouverte et stimulante.
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/themes/intercommunalte.jpg" class="img-responsive img-circle" alt="S'ouvrir à l'intercommunalité">
                <h4 class="service-heading text-primary">S'ouvrir à l'intercommunalité</h4>
                <p class="text-muted">
                    Travailler main dans la main avec l'ensemble du territoire Hanau La Petite Pierre.   
                </p>
            </div>
        </div>
    </div>
</section>
