body {
    overflow-x: hidden;
    font-family: {{ site.data.template.font.primary }};
    color: #{{ site.data.template.color.secondary-dark }};
}

.text-muted {
    color: #{{ site.data.template.color.muted }};
}

.text-primary,
.text-primary:hover {
    color: #{{ site.data.template.color.primary }};
}

.text-secondary {
    color: #{{ site.data.template.color.secondary }} !important;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}
mark {
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
}


a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #{{ site.data.template.color.primary }};
}

a:hover,
a:focus,
a:active,
a.active {
    color: #{{ site.data.template.color.secondary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
}

h2 {
    color: #{{ site.data.template.color.primary }} !important;
}

ol {
    padding-left: 5em;
}
ol li {
    list-style-position: outside;
    padding-bottom: 6px;
    }

dl {
    padding: 10% 10% 0 10%;
}

dt {
    font-size: 2rem;
    font-weight: bold;
    color: #{{ site.data.template.color.primary }} !important;
}
       
dt::after {
    content: "\00a0:";
}

dd {
    padding-bottom: 12px;
    margin-bottom: 24px;
    font-size: 1.8rem;
    border-bottom: #999 solid 1px;
}

dd:last-of-type {
    border-bottom: none;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #eee;
}

.bg-light-brown {
    background-color: #{{ site.data.template.color.secondary }} !important;
}

.bg-darkest-gray {
    background-color: #222;
}
.bg-dark-green {
    background-color: #{{ site.data.template.color.primary }};

}

.btn-primary {
    border-color: #{{ site.data.template.color.primary }};
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #fff;
    text-shadow: black 1px 1px 1x;
    background-color: #{{ site.data.template.color.primary }};
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #{{ site.data.template.color.primary }};
    color: #fff;
    text-shadow: black 1px 1px 1px;
    background-color: #{{ site.data.template.color.secondary }};
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.primary }};
}

.btn-primary .badge {
    color: #{{ site.data.template.color.primary }};
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #{{ site.data.template.color.primary }};
    border-radius: 3px;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #{{ site.data.template.color.primary }};
    color: #fff;
    text-shadow: black 1px 1px 1px;
    background-color: #{{ site.data.template.color.secondary }};
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.primary }};
}

.btn-xl .badge {
    color: #{{ site.data.template.color.primary }};
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
    text-shadow: black 1px 1px 1px;
   
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}


.navbar-default .navbar-toggle {
    border-color: #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #{{ site.data.template.color.primary }};
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    -webkit-transition: all ease .35s;
    -moz-transition: all ease .35s;
    transition: all ease .35s;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
        
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: linear-gradient(to bottom,  #222 0%,transparent 18%),url('{{ site.baseurl }}/img/header-bg_02.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


header .intro-text {
    margin-top: 35%;
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.primary }};
    font-size: 40px;
    line-height: 40px;
    text-shadow: black 1px 1px 1px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

@media(min-width:768px) {
    header .intro-text {
        margin-top: 20%;
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: {{ site.data.template.font.primary }};
        font-size: 45px;
        line-height: 45px;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    header .intro-text .intro-heading {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: {{ site.data.template.font.primary }};
        font-size: 55px;
        font-weight: 700;
        line-height: 45px;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 40px;
    color: {{ site.data.template.color.primary }};
    text-shadow: black 1px 1px 1px;
}

#contact .text-primary,
 {
    text-shadow: white 1px 1px 1px;
}  
  
section h3 {
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 32px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    margin-top: 14px;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

#editorial {
    border: 1px solid #{{ site.data.template.color.secondary }};
    margin-bottom: 42px;
    padding: 24px;
    color: #000;
    background-color: #{{ site.data.template.color.primary }};
    
}  

#dni {
    margin-bottom: 42px;
    margin-top: 24px;
    padding: 12px;
    color: #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.secondary }};    
} 

#dni h2 {
    text-transform: none !important;
    font-size: 1.8rem;
    border: none;
    line-height: 100%;
}

#editorial p {
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 500;
    color: #{{ site.data.template.color.secondary }} !important;
    }

    #market  {
        font-size: 20px !important;
        margin-top: 24px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
        background-color: #f39c12;
        padding: 6px 0;


        }    

.img-fluid {
	max-width: 100%;
	height: auto;
    border: 1px solid #{{ site.data.template.color.muted }};
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#partenaires .img-responsive {
    margin: 26px auto;
  }

#services p {
    font-size: 16px;
    line-height: 1.3em;
  }

  #services .img-responsive {
    margin: 6px auto;
    border: 2px solid #aaa;
  }

  #portfolio .img-responsive {
    margin: 4px auto;
    border: 1 solid #333;
  }


#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    background: rgba(252, 209, 139, 0.7);
    
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

.item-copyright {
    font-size: small;
    text-align: right;
    line-height: 100% !important;
}
@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.team-member {
    margin-bottom: 2px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 2px solid #aaa;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    background-image: url('{{ site.baseurl }}/img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;

}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
    color: #900;
}

section#contact .form-group textarea.form-control {
    height: 236px;
    color: #900;
}

section#contact .form-control:focus {
    border-color: #{{ site.data.template.color.primary }};
    box-shadow: none;
    
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #{{ site.data.template.color.primary }};
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: lightgrey;
}

.portfolio-modal .modal-body {
    background-color: whitesmoke;
    border: solid 1px black;
    box-shadow: 5px 5px 3px #aaa; 
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    margin-left: 5rem;
    font-size: 1.4em;
    border-bottom: solid 2px darkgrey;
}

.portfolio-modal .modal-content p {
    margin: 10px 5rem 10px 5rem;
    line-height: 150%;
}

.portfolio-modal .modal-content a {
    color: darkorange
}

.portfolio-modal .modal-content a:hover,
.portfolio-modal .modal-content a:focus,
.portfolio-modal .modal-content a:active,
.portfolio-modal .modal-content a.active {
    color: darkred;
}

.portfolio-modal .modal-content ul {
    margin: 10px 5rem 10px 5rem;
    font-size: 14px;
}

.portfolio-modal .modal-content h3 {
    font-size: 1.4rem;
    margin-left: 5rem;
    font-weight: bold;
}

.portfolio-modal .modal-content button {
    margin-top: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
    margin: -10px 10px 30px 0;
    font-family: {{ site.data.template.font.secondary }};
    color: #{{ site.data.template.color.muted }};
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 8px;
    border: 1px solid black;
}

.portfolio-modal .modal-content .signature {
    text-align: right;
    margin-right: 18rem;
    margin-top: 2rem;
    color: #777;
    font-weight: bold;
    font-size: 1.4rem;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.portfolio-modal hr {

        display: block;
        clear: both;
        height: 0;
        margin: 20px 0 80px;
        padding: 0;
        border: 0;
        font-family: arial;
        text-align: center;
        font-size: 20px;
        line-height: 1;
    }
 .portfolio-modal   hr:after {
        content: "\273D \273D \273D";
        height: 0;			
        letter-spacing: 1em;
        color: #aaa;
    }
    
}

::-moz-selection {
    text-shadow: none;
    background: #{{ site.data.template.color.primary }};
}

::selection {
    text-shadow: none;
    background: #{{ site.data.template.color.primary }};
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #{{ site.data.template.color.primary }};
}


.stat {
    margin:50px auto;
    text-align:center;
 }
 .highlight {
    color:#111;
    padding:10px 0;
    font-weight:bold;
    display:block;
    overflow:hidden;
    margin-bottom:0;
    font-size:48px;
 }
 .stat i {
     color:#{{ site.data.template.color.vert-fonce }};
     text-shadow: black 1px 1px 1px;
     padding-top: 1rem;
 }
 .milestone-details {
    font-weight:bold;
    font-size:18px;
    color: #{{ site.data.template.color.primary }};
 }

 .milestone-counter {
padding: .8rem;
border: #333 1px solid;
 }

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; } 

#themes {
    background-color: #{{ site.data.template.color.vert-fonce }};
}